.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.createacc {
  font-size: smaller;
}

.formf {
  background-color: white;
  padding: 20px;
  border-radius: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.textbox {
  display: contents;
  background-color: blanchedalmond !important;
  /* color: black; */

}

.textbox input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
  background-color: transparent !important;
  color: rgb(44, 42, 42);
}

.textbox input button {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100% !important;
}

.error {
  color: red;
  opacity: 0.7;
}